.board-canvas {
  flex: 1;
  min-height: 200px;
  position: relative;
  overflow: hidden;
}

.board-canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
